<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".WatchaAssignmentApplication"
        android:icon="@mipmap/ic_watcha_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_watcha_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Watcha.NoActionBar" />

</manifest>